@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700;900&display=swap');

:root{
    // Fonts
    --font-principal: 'Nunito', sans-serif;

    // Colors
    --blanco-principal: #F6F3EC;
    --negro-principal: #101820;
    --negro-claro: rgb(41, 53, 63);
    --rojo-principal: #ff6961;
    --rojo-secundario: rgba(255, 142, 136, 0.521);
    --azul-principal: #84b6f4;
    --azul-secundario: #84b6f480;
    --verde-principal: #77dd77;
    --verde-secundario: #77dd7788;
}